@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}



body {
    font-family: 'Poppins', sans-serif;
}

#main {
    text-align: center;
    background-color: #2E4053;
    height: 100vh;
    color: white;
    font-size: 4vh;
}

#main .center {
    padding: 40vh 0;
}

.button {
    background-color: #5DADE2; 
    border: 2px solid #5DADE2;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.5s;
}

.button:hover {
    background-color: #2E86C1;
    border: 2px solid #2E86C1;
}

#about {
    background-color: #2E4053;
    color: black;
}

.card {
    border: 2px solid white;
    border-radius: 10px;
    height: 50vh;
    width: 20vw;
    background-color: white;
}

.text {
    padding: 1vh 1vh;
}

ul {
    padding: 0 3vh;
}

#about .center {
    padding: 18vh 0;
    justify-content: center;
    flex: wrap;
    display: flex;
}

.margincard {
    margin: 2%;
}

#footer {
    text-align: center;
    width: 100%;
    bottom: 0;
    color: white;
    background-color: #2E4053;
    height: 3vh;
    position: absolute;
}



* {
    scrollbar-width: auto;
    scrollbar-color: #1B2631 #2e4053;
}


*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #2e4053;
}

*::-webkit-scrollbar-thumb {
    background-color: #1B2631;
    border-radius: 0px;
    border: 3px solid #1B2631;
}

@media only screen and (max-width: 1000px) {
#about .center {
        display: grid;
    }

.card {
        border: 2px solid white;
        border-radius: 10px;
        height: 22vh;
        width: 90%;
        background-color: white;
        margin: auto;

}
.margincard {
    margin: 2%;
}
}