@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    display: block;
    font-family: 'Poppins', sans-serif;
    color: black;
}

#nav {
    cursor: pointer;
    display: block;
    text-decoration: none;
    width: 100%;
    min-height: 8vh;
    background-color: white;
}

ul {
    list-style: none;
}


li a {
    padding: 25px 20px;
    float: right;
    font-size: 2vh;
    text-align: center;
    display: block;
    color: black;
    text-decoration: none;
    transition-duration: 0.5s;
}

li a:hover {
    color: lightgray;
}

li h1 {
    padding: 10px 30px;
    float: left;
    font-size: 4vh;
    font-weight: bold;
    color: #6C63FF;
}

#main {
    width: 100%;
    height: 92vh;
    display: flex;
}

.content {
    text-align: left;
    padding: 275px 150px;
}

h2 {
    cursor: pointer;
    font-size: 3.5vh;
}

h3 {
    cursor: pointer;
    font-weight: lighter;
    font-size: 2.5vh;
}

.button {
    margin: 10px 0;
    background-color: #6C63FF;
    border: 2px solid #6C63FF;
    border-radius: 30px;
    color: white;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.5s;
}

.button:hover {
    background-color: #0b00e6;
    border-color: #0b00e6;
}

.image {
    cursor: pointer;
    padding-left: 150px;
    padding-top: 125px;
} 

#why {
    display: block;
    justify-content: center;
    text-align: center;
    height: 30vh;
}

.blockbox {
    display: flex;
    justify-content: center;
}

.card {
    margin: 4% 4%;
}

h4 {
    font-size: 3.5vh;
    padding-top: 2%;
}

h5 {
    font-size: 2.5vh;
}

ion-icon {
    color: #6C63FF;
    font-size: 8vh;
}

#contact {
    height: 70vh;
    display: flex;
    justify-content: center;
}

.contentbox {
    margin: 200px;
    text-align: center;
    width: 50vw;
    height: 30vh;
    border: 2px solid none;
    border-radius: 10px;
    background-color: rgb(108,99,255);
    background-color: linear-gradient(335deg, rgba(108,99,255,1) 0%, rgba(83,73,246,1) 100%);
    -webkit-box-shadow: 0px 0px 31px -7px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 31px -7px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 31px -7px rgba(66, 68, 90, 1);
}

h6 {
    padding-top: 75px;
    font-size: 3vh;
    color: white;
}

.discordbttn {
    margin: 10px 0; 
    border-radius: 30px;
    border: none;
    color: white;
    padding: 6px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.5s;
    width: 6vw;
    background-color: rgb(130,224,170);
    background-color: linear-gradient(287deg, rgba(130,224,170,1) 0%, rgba(46,204,113,1) 100%);
    transition-duration: 0.5s;
}

.discordbttn:hover {
    background-color: #17202A;
}

.bttnlogo {
    font-size: 3vh;
    color: white
}

#about {
    text-align: center;
    height: 60vh;
    display: flex;
    justify-content: center;
}

.textbox {
    padding-top: 150px;
    display: block;
}

span {
    font-size: 3.5vh;
    font-weight: bold;
}

p {
    font-size: 1.8vh;
}

.secondimage {
    padding: 50px 150px;
}

#footer {
    bottom: 0;
    position: relative;
    text-align: center;
}

#footer a {
    text-decoration: none;
    font-weight: bold;
}

* {
    scrollbar-width: auto;
    scrollbar-color: lightgray lightgray;
}


*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: white;
}

*::-webkit-scrollbar-thumb {
    background-color: #AAB7B8;
    border-radius: 0px;
    border: 3px solid #AAB7B8;
}

@media only screen and (max-width: 1000px) and (min-width: 0) {

    .image {
        display: none;
    }

    .secondimage {
        display: none;
    }

    #nav {
        display: none;
    }

    #main {
        min-height: 100vh;
        justify-content: center;
        display: flex;
    }

    .content {
        padding: 35vh 0;
        text-align: center;
    }

    h2 {
        font-size: 3.8vh;
    }

    h3 {
        font-size: 3vh;
    }

    #about {
        display: none;
    }

    #why {
        min-height: 100vh;
        display: block;
        justify-content: center;
    }

    .blockbox {
        display: block;
    }

    .mobilepadding {
        padding: 20vh 0;
    }
    h4 {
        font-size: 3.8vh;
    }

    #contact {
        min-height: 100vh;
    }

    .contentbox {
        margin: 35vh 0;
        width: 100vw;
    }

    #footer {
        width: 100%;
        position: absolute;
    }

    .discordbttn {
        width: 35vw;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 1001px) {

    .image {
        display: none;
    }

    .secondimage {
        display: none;
    }

    #nav {
        display: none;
    }

    #main {
        min-height: 100vh;
        justify-content: center;
        display: flex;
    }

    .content {
        padding: 35vh 0;
        text-align: center;
    }

    h2 {
        font-size: 3.8vh;
    }

    h3 {
        font-size: 3vh;
    }

    #about {
        display: none;
    }

    #why {
        min-height: 50vh;
        display: block;
        justify-content: center;
    }

    .blockbox {
        display: flex;
    }

    .mobilepadding {
        padding: 10vh 0;
    }
    h4 {
        font-size: 3.8vh;
    }

    #contact {
        height: 50vh;
    }

    .contentbox {
        margin: 0;
        width: 50vw;
    }

    #footer {
        width: 100%;
        position: absolute;
    }

    .discordbttn {
        width: 10vw;
    }
}

@media only screen and (max-width: 1600px) and (min-width: 1201px) {
    img {
        width: 50vw;
        height: 50vh;
    }
    .image {
        padding-left: 75px;
    }

    .discordbttn {
        width: 10vw;
    }
}
